<li><a href="javascript:void(0)" id="users_a" (click)="loadView($event.target)"><i class="fa fa-users"></i><span>Users</span></a></li>
<li><a href="javascript:void(0)" (click)="loadView($event.target)" id="promo_code_types_a"><i class="fa  fa-briefcase"></i><span>Promo Codes Types</span></a></li>
<li><a href="javascript:void(0)" (click)="loadView($event.target)" id="promo_codes_a"><i class="fa  fa-certificate"></i><span>Promo Codes</span></a></li>
<li><a href="javascript:void(0)" (click)="loadView($event.target)" id="settings_a"><i class="fa  fa-gear"></i><span>Settings</span></a></li>
<li><a href="/logout" id="settings_a"><i class="glyphicon   glyphicon-log-out"></i><span>Logout</span></a></li>
