<div class="bg-light lter b-b wrapper-md mb-10">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="font-thin h3 m-0" id="user_form_title">{{form_title}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 boxs">
    <form  (ngSubmit)="save($event)" id="user_form" (display)="onDisplay()" class="boxs-body">
      <input type="hidden" id="user_id" [(ngModel)]="user.user_id" />
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="user.username" required>
      </div>
      <div class="form-group">
        <label for="password">User type</label>
        <select class="form-control" id="user_type" [(ngModel)]="user.user_type">
          <option value="admin">Admin</option>
          <option value="moderator">Moderator</option>
        </select>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" required>
      </div>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" [(ngModel)]="user.firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" [(ngModel)]="user.lastname">
      </div>
      <div class="form-group">
          <label for="status">Valid
          <input type="checkbox" id="status" (ngModel)="user.status==1" value="1" (change)="onStatusChange($event.target)"></label>
      </div>
      <div class="form-group">
        <label for="promocodes_limit">Limit PromoCode per Day<small>(0 is unlimited)</small></label>
        <input type="text" class="form-control" id="promocodes_limit" [(ngModel)]="user.promocodes_limit" style="width:50px">
      </div>
      <button type="submit" class="btn btn-raised btn-primary">Save</button>
    </form>
  </div>
</div>
